<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
</head>
<body>
	<footer th:fragment="footer" id="footer" style="margin-top: 30px;" class="footer text-center">
	    <div class="container">
	        <div class="row">
	            <!-- Footer Location-->
	            <div class="col-lg-4 mb-5 mb-lg-0">
	                <h4 class="text-uppercase mb-4">Location</h4>
	                <p class="lead mb-0">
	                    <span th:text="${applicationConfiguration.contactInformation.address}"></span>
	                    <br />
	                    <span th:text="${applicationConfiguration.contactInformation.city}"></span>, 
						<span th:text="${applicationConfiguration.contactInformation.state}"></span>
						<span th:text="${applicationConfiguration.contactInformation.zipcode}"></span>
	                </p>
	            </div>
	            <!-- Footer Social Icons-->
	            <div class="col-lg-4 mb-5 mb-lg-0">
	                <h4 class="text-uppercase mb-4">Follow Us</h4>
	                <a class="btn btn-outline-light btn-social mx-1" href="javascript:void(0)"><i class="fab fa-fw fa-facebook-f"></i></a>
	                <a class="btn btn-outline-light btn-social mx-1" href="javascript:void(0)"><i class="fab fa-fw fa-twitter"></i></a>
	                <a class="btn btn-outline-light btn-social mx-1" href="javascript:void(0)"><i class="fab fa-fw fa-linkedin-in"></i></a>
	                <a class="btn btn-outline-light btn-social mx-1" href="javascript:void(0)"><i class="fab fa-fw fa-google-plus"></i></a>
	            </div>
	            <!-- Footer About Text-->
	            <div class="col-lg-4">
	                <h4 class="text-uppercase mb-4">About Capacitometer</h4>
	                <p class="lead mb-0">
	                    There are many variations of passages of Lorem Ipsum available.
	                </p>
	            </div>
	        </div>
	    </div>
	</footer>
</body>
</html>