<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">

<!-------------- head --------------->
<head th:replace="fragments/head :: head"></head>
    <body id="page-top">
    
        <!-------------- header --------------->
   		<header th:replace="fragments/header_others :: header"></header>
        
        
        <!-- Let's Start Section-->
        <section class="page-section portfolio" id="letStart">
            <div class="container">
                <!-- Let's Start Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="margin-top: 30px;">Gym Members Workout Logs</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-indent"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Let's Start Grid Items-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                      
                        <!-- to get an API token!-->
                        <form method="GET" th:action="@{/checkInLogs/searchLogs}">
                            <label for="user">Select gym member from the following list to view logs:</label>
                            <div class="form-floating mb-3 col-lg-10" style="float: left">
                                <select name="gymMember" th:field="${timesheet.gymMember}" class="form-control" style="height: 67px; padding-top: 0px; padding-bottom: 0px;">
                                   <option th:each="gymMember : ${gymMembers}" th:value="${gymMember.Id}" th:text="${gymMember.firstName} + ' ' + ${gymMember.lastName}"></option>
                                </select>
                            </div>
                            <!-- Submit Button-->
                            <div class="col-lg-2" style="float: right">
                            	<button class="btn btn-info btn-xl" type="submit" name="search"><i class="fas fa-search"></i></button>
                            </div>
                            	<div class="clear"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Analysis Section-->
        <section class="page-section portfolio" id="analysis" style="padding-top: 0px;">
            <div class="container">
            	<div th:if="${!checkInLists.isEmpty() and checkInLists != null}">
	                <!-- Let's Start Section Heading-->
	                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" th:text="${selectedMemberName} + ' Logs'"></h2>
	                <!-- Icon Divider-->
	                <div class="divider-custom">
	                    <div class="divider-custom-line"></div>
	                    <div class="divider-custom-icon"><i class="fas fa-table"></i></div>
	                    <div class="divider-custom-line"></div>
	                </div>
	                <!-- Let's Start Grid Items-->
	                <div class="row justify-content-center">
	                    <!-- Check In-->
	                    <div class="col-md-10 col-lg-10 mb-5">
	                        <table class="table table-hover">
							  <thead>
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">Date</th>
							      <th scope="col">Check-In Time</th>
							      <th scope="col">Check-Out Time</th>
							      <th scope="col">Workout Duration</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each="checkInList, cnt: ${checkInLists}">
							      <th scope="row" th:text="${cnt.count}"></th>
							      <td th:text="${#temporals.format(checkInList.createdOn, 'MMM dd, yyyy')}"></td>
							      <td th:text="${#temporals.format(checkInList.checkInTime, 'h:mm a')}"></td>
							      <td th:text="${#temporals.format(checkInList.checkOutTime, 'h:mm a')}"></td>
							      <td th:text="${checkInList.totalDuration}"></td>
							      <td ></td>
							    </tr>
							  </tbody>
							</table>
	                	</div>
	                </div>
            	</div>
            	<div th:unless="${!checkInLists.isEmpty() and checkInLists != null}" class="alert alert-danger" role="alert">
                  <label for="subject">No check in logs for this gym member</label>
                </div>
            </div>
        </section>
        
        <!------------ Footer ------------>
        <footer th:replace="fragments/footer :: footer"></footer>
        
         <!------------ Copyright ------------>
        <div th:replace="fragments/copyright :: copyright"></div>
        
        <!-- js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- js -->
    </body>
</html>